<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>약관</title>    
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script>
    	window.onload = function(){
    		document.getElementById("next").onclick = ()=>{
    			let terms = document.querySelector('input[name=terms]');
    			let privacy = document.querySelector('input[name=privacy]');
    			
    			if(terms.checked && privacy.checked){
    				return true;
    			}else{
    				alert("필수항목을 모두 체크해 주십시오.");
    				return false;
    			}
    		}
    	}
    </script>
</head>
<body>
    <div id="wrapper">
        <header>
            <h3>Board System v1.0</h3>
        </header>
        <main id="user">
            <table border="0">
                <caption>사이트 이용약관</caption>
                <tr>
                    <td>
                        <textarea class="terms" readonly>[[${termsVO.terms}]]</textarea>
                        <label><input type="checkbox" name="terms">&nbsp;동의합니다.</label>
                    </td>
                </tr>
            </table>

            <table border="0">
                <caption>개인정보 취급방침</caption>
                <tr>
                    <td>
                        <textarea class="privacy" readonly>[[${termsVO.privacy}]]</textarea>
                        <label><input type="checkbox" name="privacy">&nbsp;동의합니다.</label>
                    </td>
                </tr>
            </table>

            <p>
                <a th:href="@{/user/login}" class="cancel">취소</a>
                <a th:href="@{/user/register}" class="next" id="next">다음</a>
            </p>            
        </main>

        <footer>
            <p>ⓒCopyleft by chhak.or.kr</p>
        </footer>    
    </div>
</body>
</html>